.root {
    -fx-background-color: #0c2242;
}

.button {
    -fx-background-color: #01142F;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-border-width: 5;
    -fx-border-radius: 20;
}

.label {
    -fx-text-fill: white;
    -fx-font: normal 12 Langdon;
}

.chart {
    -fx-legend-visible: false;
}

.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke:#505050;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #505050;
}

.chart-alternative-row-fill {
    -fx-fill:transparent;
    -fx-stroke: transparent;
}


.grassland-field {
    -fx-background-color: #FFAF50;
}

.jungle-field {
    -fx-background-color: #4BB462;
}

.field {
    -fx-border-color: #2F3640;
    -fx-border-width: 0.3;
    -fx-border-radius: 0;
}

.menu-bar {
    -fx-background-color: transparent;
}
.menu {
    -fx-label-padding: 3px;
}
.menu .label, .menu-item .label {
    -fx-text-fill: #eee;
}
.menu:hover, .menu:focused, .menu:pressed {
    -fx-background-color: #052555;
}
.menu-item:hover {
    -fx-background-color: #052555;
}
.context-menu {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.tile-tooltip {
    -fx-font: normal 18 Langdon;
    -fx-text-fill: white;
    -fx-border-radius: 400;
    -fx-background-color: #1771F1;
}

